img {
    width: 30%; 
    height: 250px;
    /* width percetnage takes up that much of parent element */
    float: left;
    margin: 1.66%
    /* math: each image is 10% which gives us 30%; 1.6*2 + 30% = 33% */
}